<div class="home-page">
  <div class="home-page__container">
    <div class="home-page__table" *ngIf="userData$ | async as userData">
      <div class="home-page__button">
        <app-button
          [buttonName]="'Create User'"
          [buttonType]="'create'"
          (click)="createNewUser()"></app-button>
      </div>
      <app-table
        [tableData]="userData"
        (chosenItem)="chosenItem($event)"></app-table>
    </div>
    <div class="home-page__create-user-container" *ngIf="!isClosed">
      <app-create-user-modal
        [openingType]="openingType"
        (isClosed)="isClosedModal($event)"></app-create-user-modal>
    </div>
  </div>
</div>
